{% extends "base.html" %}

{% block content %}


{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    Hey {{name}}-{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

{% if name %}
    <h1>Merhaba {{name}}!!</h1>
    <br/>
    <img src="{{ url_for('static', filename='images/15 temmuz.jpg') }}" width=600>
    <br/>
    <p id="demo">Tüm hakları Artesan'a aittir.</p>
    <script src="{{ url_for('static', filename='js/myfile.js') }}"></script>
{% else %}
    <h1>İsminiz nedir?</h1>
    <br/>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br/>
        <br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>

{% endif %}
{% endblock %}